<div class="errors">
  <% if @errors %>
    <ul>
      <% errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <br>
  <% if flash[:notice] %>
    <ul>
      <li><%= flash[:notice] %></li>
    </ul>
  <% end %>
</div>