<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
  <a class="navbar-brand" href="/movies">All Rated Movies</a>
    <% if current_user %>
      <li class="nav-item">
        <span class= "nav-link">Hey, <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>!</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/new">Register</a>
      </li>
    <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/movies/new">Add a Movie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">View All Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">             </a>
      </li>
  </ul>
<form class="form-inline my-2 my-lg-0 navbar-right" action="/movies/search", method="GET">
      <input class="form-control mr-sm-2" type="text" name="request" placeholder="Search Titles">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>