<h2>Users on This Site</h2>

<ul>
<% @users.each do |user| %>
  <br><li class="fa fa-tree">&ensp;<strong><%= link_to user.username, user %></strong>:  <%= user.ratings.count %> <%= user.ratings.count == 1 ? "rating" : "ratings" %></li><br>
<% end %>
</ul>